@font-face {
    font-family: "norse";
    src: url("../fonts/norse-bold-webfont.woff") format("woff"),
         url("../fonts/norse-bold-webfont.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
}

/* html,body{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
} */

body{
    box-sizing: border-box;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    background-color: #1b1923;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
}

.background{
    position: relative;
    background: no-repeat center/cover url("../img/background.jpg"); 
    flex: 0 0 600px;
    height: max(700px,100vh);
}

.logo-layer{
    position: relative;
    width: 100%;
    height: 150px;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-layer::before{
    position: absolute;
    content: " ";
    display: inline-block;
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.608);
    z-index: 1;
}

.logo{
    width: 110px;
    height: 85%;
    background: no-repeat center/contain url("../img/logo.png");
    z-index: 2;
}

.logo-des{
    z-index: 2;
    font-family: "norse",serif;
    font-size: 100px;

}

.background .footer{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 1.5%;

}

.right-container{
    flex: 0 1 auto;
    width: 100%;
    height: 700px;
    align-self: center;
    box-sizing: border-box;
}

.right-container>p{
    width: 800px;
    margin: 0 40px;
    font-size: 22px;
}

.right-container .form-box{
    height: 300px;
    margin-top: 60px;
    background-color: #242130;
    border-radius: 10px;
}

.right-container .form-box .form-container{
    width: 800px;
    height: 120%;
    padding: 20px 40px;
}


.form-container h1{
    font-size: 22px;
}

.form-container p{
    display: inline-block;
    width: max-content;
    padding: 0px;
    margin: 0px;
}

.form-container p label{
    display: block;
    font-size: 12px;
    letter-spacing: 2px;
    margin-top: 25px;
}

.form-container input{
    appearance: none;
    background-color: #1b1923;
    border-color: rgba(255, 255, 255, 0.534);
    border-style: ridge;
    border-width: 1px;
    color: inherit;
    font-family: inherit;
    font-size: 15px;
    width: 200px;
    height: 25px;
    padding-left: 10px;
}

.form-container input:focus{
    appearance: none;
    border-color: white;
    outline: none;
}

.form-container p.right{
    margin-left: 70px;
}

.form-container button{
    appearance: none;
    color: white;
    margin-top: 80px;
    background-color:#3484a4;
    border-width: 0px;
    width: 180px;
    height: 40px;
    font-family: inherit;
    font-size: 15px;
    border-radius: 10px;
    transition: all 0.2s;
}

.form-container button:hover{
    background-color:#2b6e88;
}